<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.my">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MoveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppTheme.NoTitle"
            android:name=".activity.HistoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.sensoro.beacon.kit.BeaconService" />
        <service android:name="com.sensoro.beacon.kit.IntentProcessorService" />

        <activity
            android:name=".activity.GuideActivity"
            android:theme="@style/AppTheme.NoTitle"></activity>
    </application>

</manifest>